<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Next Item.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EB84971C0104830031A8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EB84AD1C0104830031A8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EB84B81C0104830031A8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
